@import 'normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Arvo:400,700);

/* COLORS
==========================*/

/* Icons */
$money-color: #2ECC71;
$gas-color: #F39C12;
$emissions-color: #95A5A5;
$calories-color: #DEDE47;
$oil-color: #232829;
/* Greys */
$light: #F9FAFC;
$medium1: #F0F1F5;
$medium2: #D4D5D9;
$medium3: #C0C4D0;
$dark: #505460;
/* Greens */
$light-green: #2ECC71;
$dark-green: #27AE60;


/* TYPOGRAPHY
==========================*/

@mixin arvo {
	font-family: 'Arvo', serif;
}

@mixin sourcesans {
	font-family: 'Source Sans Pro', sans-serif;
}

@mixin micro-text {
	@include sourcesans;
	font-weight: 700;
	font-size: em(12);
	text-transform: uppercase;
}

* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

body {
 	@include sourcesans;
 	background-color: $medium1;
	color: $dark;
}

a {
	color: $light-green;
	text-decoration: none;
}

h2 {
	font-size: 1.84em;
	font-weight: bold;
}


/* HEADER STYLES
///////////////////////////*/

header {
	padding: em(14) 0 em(15);
	border-top: 6px solid $light;
	border-bottom: 4px solid $medium2;
	border-top: 4px solid $light-green;
	background-color: white;
}

.container {
	@include outer-container;

}

.logo {
	width: 100%;
	margin: 0 auto;
	max-width: 126px;
	min-height: 50px;
	background-image: url(../images/logo-landscape.svg);
	text-indent: -99999px;
	text-align: center;
}

.page-title {
	@include arvo;
	font-weight: 400;
	font-size: em(16);
	padding-top: em(6);
	color: #C8D1D8;
	text-align: center;
	// float: right;
	// display: none;
}

/* HERO UNIT
///////////////////////////*/

.hero {
	background: url('../images/hero.jpg') no-repeat center top fixed;
	width: 100%;
	min-height: 300px;
}


/* CONTENT
///////////////////////////*/

body > section {
	text-align: center;
	padding: em(45) 0;
}
.text-wrapper {
	width: 70%;
	margin: 0 auto;
}
.intro-text {
	background-color: white;
	border-top: 4px solid $money-color; 
}
.intro-text p {
	color: darken($light, 40%);
	line-height: 1.65em;
	font-size: em(16);
	padding-bottom: em(16);
}
.intro-text h2 {
	font-size: 1.84em;
	margin-top: 0em;
}

.beta-button {
	display:inline-block;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	text-shadow:0 1px 0px rgba(0,0,0,0.15);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color: darken($money-color, 3%);
	border-width: 1px 1px 5px !important;
	border-style: solid;
	border-color: #27ae60;
	border-radius: 5px;
	padding: em(16) em(32);
	color: white;
	font-weight: 700;
	font-size: em(18);
	position: relative;
	text-shadow: 1px 1px 0px darken($money-color, 6%);
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	  	-ms-border-radius:5px;
	  	 -o-border-radius:5px;
			border-radius:5px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	  		box-sizing:border-box;
	-webkit-box-shadow:0 -1px 0 rgba(255,255,255,0.1) inset;
	   -moz-box-shadow:0 -1px 0 rgba(255,255,255,0.1) inset;
	  		box-shadow:0 -1px 0 rgba(255,255,255,0.1) inset;

	&:hover {
		background-color: $dark-green;
	}

	svg {
		width: 100px;
		position: absolute;
		left: em(22);
		top: em(5);
		// stroke: darken($money-color, 5%);
	}
}

/* TEXT
///////////////////////////*/

.about-text {
	// border-top: 3px solid darken($light,4%);
	// border-bottom: 3px solid darken($light,4%);
	background-color: $medium2;
	// padding: em(35) 0 em(35);

	p {
		color: darken($light, 31%);
		line-height: 1.65em;
		font-size: em(18.5);
		text-align: justify;
	}
}

.mailing-list {
	// border-top: 3px solid darken($light,4%);
	// border-bottom: 3px solid darken($light,4%);
	background-color: white;
	// padding: em(35) 0 em(35);

	p {
		color: darken($light, 31%);
		line-height: 1.65em;
		font-size: em(18.5);
		text-align: center;
	}
}

/* TEAM MEMBERS
///////////////////////////*/

.team {
	padding: em(20) em(10) em(70);

	section {
		@include span-columns(6);
		padding: em(40) em(80);
		margin-top: 40px;
		background: $light;
		border-width: 1px 1px 3px !important;
		border-style: solid;
		border-color: $medium2;
		-webkit-border-radius:5px;
		   -moz-border-radius:5px;
		  	-ms-border-radius:5px;
		  	 -o-border-radius:5px;
				border-radius:5px;
	}

	section:nth-child(2) {
		margin-right: 0;
	}

	/*section.team {
		.container {
			section {
				background-color: white;
			}
		}
	}*/

	img {
		border-radius: 50%;
		background-color: $gas-color;
		width: 150px;
		height: 150px;
		-webkit-box-shadow: 0px 4px 0px 2px $light-green;
		-moz-box-shadow: 0px 4px 0px 2px $light-green;
		box-shadow: 0px 4px 0px 2px $light-green;
	}
	h4 {
		margin: em(12) 0 em(6);

		a {
			font-weight: 400;
			font-size: .93em;
			margin-left: 4px;
			color: inherit;
			text-decoration: none;
		}

		+ p {
			text-transform: uppercase;
			color: darken($light, 20%);
			font-size: em(12);
			letter-spacing: em(1);
			margin: 0 0 em(16);
			text-align: center;
			font-weight: 700;
		}
	}
	p {
		margin: em(4) 0;
		text-align: justify;

		&:last-child {
			margin-top: em(15);
		}
	}

}

/* MailChip
///////////////////////////*/

/* FOOTER
///////////////////////////*/

footer {
	background-color: $light;
	border-top: 2px solid $medium2; 
	padding: em(14) 0;
}

.social {
	float: right;
	margin-top: 3px;

	.email {
		text-decoration: none;
		color: inherit;
		font-size: em(18);
		position: relative;
		top: -18px;
		left: -8px;
	}
	a {
		margin: 0 10px;

		&:last-of-type {
            margin-right: 20px;
        }
	}
	img {
		width: 50px;
	}
}

.partners img {
	width: 90px;
	margin-right: 20px;
}

