@import 'normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Arvo:400,700);


/*====================================================================

  ,ad8888ba,                88                                      
 d8"'    `"8b               88                                      
d8'                         88                                      
88              ,adPPYba,   88   ,adPPYba,   8b,dPPYba,  ,adPPYba,  
88             a8"     "8a  88  a8"     "8a  88P'   "Y8  I8[    ""  
Y8,            8b       d8  88  8b       d8  88           `"Y8ba,   
 Y8a.    .a8P  "8a,   ,a8"  88  "8a,   ,a8"  88          aa    ]8I  
  `"Y8888Y"'    `"YbbdP"'   88   `"YbbdP"'   88          `"YbbdP"' 

====================================================================*/

/* Icons */
$money-color: #2ECC71;
$gas-color: #F39C12;
$emissions-color: #95A5A5;
$calories-color: #DEDE47;
$oil-color: #232829;
/* Greys */
$light: #F9FAFC;
$medium1: #F0F1F5;
$medium2: #E6E7EC;
$medium3: #D4D5D9;
$medium4: #C0C4D0;
$dark: #505460;
/* Greens */
$light-green: #2ECC71;
$dark-green: #27AE60;


/*====================================================================

888888888888                                   
     88                                        
     88                                        
     88  8b       d8  8b,dPPYba,    ,adPPYba,  
     88  `8b     d8'  88P'    "8a  a8P_____88  
     88   `8b   d8'   88       d8  8PP"""""""  
     88    `8b,d8'    88b,   ,a8"  "8b,   ,aa  
     88      Y88'     88`YbbdP"'    `"Ybbd8"'  
             d8'      88                       
            d8'       88                       

====================================================================*/

@mixin arvo {
	font-family: 'Arvo', serif;
}

@mixin sourcesans {
	font-family: 'Source Sans Pro', sans-serif;
}

@mixin micro-text {
	@include sourcesans;
	font-weight: 700;
	font-size: em(12);
	text-transform: uppercase;
}

* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

body {
 	@include sourcesans;
 	background-color: $medium1;
	color: $dark;
}

a {
	color: $light-green;
	font-weight: 700;
	text-decoration: none;
}

h2 {
	font-size: 1.84em;
	font-weight: bold;
}


/*====================================================================

88        88                                   88                          
88        88                                   88                          
88        88                                   88                          
88aaaaaaaa88   ,adPPYba,  ,adPPYYba,   ,adPPYb,88   ,adPPYba,  8b,dPPYba,  
88""""""""88  a8P_____88  ""     `Y8  a8"    `Y88  a8P_____88  88P'   "Y8  
88        88  8PP"""""""  ,adPPPPP88  8b       88  8PP"""""""  88          
88        88  "8b,   ,aa  88,    ,88  "8a,   ,d88  "8b,   ,aa  88          
88        88   `"Ybbd8"'  `"8bbdP"Y8   `"8bbdP"Y8   `"Ybbd8"'  88         

====================================================================*/

header {
	padding: em(14) 0 em(15);
	border-bottom: 4px solid $medium3;
	border-top: 4px solid $light-green;
	background-color: white;
}

.container {
	@include outer-container;

}

.logo {
	width: 100%;
	margin: 0 auto;
	max-width: 126px;
	min-height: 50px;
	background-image: url(../images/logo-landscape.svg);
	text-indent: -99999px;
	text-align: center;
}

.page-title {
	@include arvo;
	font-weight: 400;
	font-size: em(16);
	padding-top: em(6);
	color: $medium4;
	text-align: center;
	// float: right;
	// display: none;
}

/* HERO UNIT
///////////////////////////*/

.hero {
	background: url('../images/hero.jpg') no-repeat center top fixed;
	width: 100%;
	min-height: 300px;
}


/*====================================================================

  ,ad8888ba,                                                                     
 d8"'    `"8b                             ,d                              ,d     
d8'                                       88                              88     
88              ,adPPYba,   8b,dPPYba,  MM88MMM  ,adPPYba,  8b,dPPYba,  MM88MMM  
88             a8"     "8a  88P'   `"8a   88    a8P_____88  88P'   `"8a   88     
Y8,            8b       d8  88       88   88    8PP"""""""  88       88   88     
 Y8a.    .a8P  "8a,   ,a8"  88       88   88,   "8b,   ,aa  88       88   88,    
  `"Y8888Y"'    `"YbbdP"'   88       88   "Y888  `"Ybbd8"'  88       88   "Y888 

====================================================================*/

body > section {
	text-align: center;
	padding: em(45) 0;
}
.text-wrapper {
	width: 70%;
	margin: 0 auto;
}
.intro-text {
	height: 220px;
	background-color: $light;
	border-top: 4px solid $money-color; 

	p {
		color: darken($light, 40%);
		line-height: 1.65em;
		font-size: em(16);
		padding-bottom: em(16);
	}
	h2 {
		font-size: 1.84em;
		margin-top: 0px;
		margin-bottom: 30px;
	}
}

.beta-button {
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding: em(16) em(32);
	color: white;
	font-weight: 700;
	font-size: em(18);
	background-color: $money-color;
	border: 0;
	margin-top: -4px;
	text-shadow:0 1px 0px rgba(0,0,0,0.15);
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	  	-ms-border-radius:5px;
	  	 -o-border-radius:5px;
			border-radius:5px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	  		box-sizing:border-box;
	-webkit-box-shadow: 0 4px 0 darken($money-color, 4%);
	   -moz-box-shadow: 0 4px 0 darken($money-color, 4%);
	  		box-shadow: 0 4px 0 darken($money-color, 4%);
	-webkit-transition: all 0.15s ease-in-out;
	   -moz-transition: all 0.15s ease-in-out;
	  	 -o-transition: all 0.15s ease-in-out;
			transition: all 0.15s ease-in-out;

	&:hover {
		background-color: lighten($light-green, 4%);
		text-shadow: 0 -1px -1px $money-color;
		-webkit-box-shadow: 0 4px 0 darken($money-color, 2%);
		   -moz-box-shadow: 0 4px 0 darken($money-color, 2%);
		  		box-shadow: 0 4px 0 darken($money-color, 2%);

	}

	&:active, &:focus {
		margin-top: 0px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		outline: 0;
	}
}

.subscribe-button {
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	text-shadow:0 1px 0px rgba(0,0,0,0.15);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color: darken($money-color, 3%);
	border: 0;
	border-radius: 5px;
	padding: em(10) em(24);
	color: white;
	font-weight: 700;
	font-size: em(18);
	position: relative;
	margin-top: -4px;
	text-shadow: 1px 1px 0px darken($money-color, 6%);
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	  	-ms-border-radius:5px;
	  	 -o-border-radius:5px;
			border-radius:5px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	  		box-sizing:border-box;
	-webkit-box-shadow: 0 4px 0 $dark-green;
	   -moz-box-shadow: 0 4px 0 $dark-green;
	  		box-shadow: 0 4px 0 $dark-green;
	-webkit-transition: all 0.15s ease-in-out;
	   -moz-transition: all 0.15s ease-in-out;
	  	 -o-transition: all 0.15s ease-in-out;
			transition: all 0.15s ease-in-out;

	&:hover {
		background-color: lighten($light-green, 4%);
		text-shadow: 0 -1px -1px $money-color;
		-webkit-box-shadow: 0 4px 0 darken($money-color, 2%);
		   -moz-box-shadow: 0 4px 0 darken($money-color, 2%);
		  		box-shadow: 0 4px 0 darken($money-color, 2%);

	}

	&:active, &:focus {
		margin-top: 0px;
		outline: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

input.email {
	width: 60%;
	padding: 0.8em;
	color: $medium3;
	text-align: center;
	border-radius: 5px;
	border: 2px solid $medium3;
	margin-bottom: 20px;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;

	&:focus {
		border-color: $light-green;
		color: $dark;
	}
}



/*====================================================================

888888888888                               
     88                             ,d     
     88                             88     
     88   ,adPPYba,  8b,     ,d8  MM88MMM  
     88  a8P_____88   `Y8, ,8P'     88     
     88  8PP"""""""     )888(       88     
     88  "8b,   ,aa   ,d8" "8b,     88,    
     88   `"Ybbd8"'  8P'     `Y8    "Y888 

====================================================================*/

.about-text {
	// border-top: 3px solid darken($light,4%);
	// border-bottom: 3px solid darken($light,4%);
	background-color: $medium2;
	border-top: 2px solid $medium3;
	// padding: em(35) 0 em(35);

	h2 {
		margin-top: 0;
	}
	p {
		color: darken($medium4, 30%);
		line-height: 1.65em;
		font-size: em(18.5);
		text-align: justify;
	}
}

.mailing-list {
	height: 290px;
	background-color: $medium2;
	border-top: 2px solid $medium3;

	p {
		color: $dark;
		font-size: em(18.5);
		text-align: center;
		margin: 10px 0 20px 0;
	}

	h2 {
		margin: 0px;
	}
}

/*====================================================================

888888888888                                         
     88                                              
     88                                              
     88   ,adPPYba,  ,adPPYYba,  88,dPYba,,adPYba,   
     88  a8P_____88  ""     `Y8  88P'   "88"    "8a  
     88  8PP"""""""  ,adPPPPP88  88      88      88  
     88  "8b,   ,aa  88,    ,88  88      88      88  
     88   `"Ybbd8"'  `"8bbdP"Y8  88      88      88 

====================================================================*/

.team {
	padding: em(20) em(10) em(70);
	border-top: 2px solid $medium3;

	section {
		@include span-columns(5);
		// width: 36%; margin: 0 7%;
		// margin: 0 7%;
		padding: em(70) em(80);
		margin: 20px 0;
		background: $light;
		border-width: 1px 1px 3px !important;
		border-style: solid;
		border-color: $medium3;
		-webkit-border-radius:5px;
		   -moz-border-radius:5px;
		  	-ms-border-radius:5px;
		  	 -o-border-radius:5px;
				border-radius:5px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
	  			box-sizing: border-box;
	}
	section:nth-child(1) {
		margin-left: 8%;
		margin-right: 2%;
	}
	section:nth-child(2) {
		margin-left: 2%;
		margin-right: 8%;
	}
	section:nth-child(3) {
		margin-left: 8%;
		margin-right: 2%;
	}
	section:nth-child(4) {
		margin-left: 2%;
		margin-right: 8%;
	}


	/* section:nth-child(2) {
		margin-right: 0;
	}*/

	/*section.team {
		.container {
			section {
				background-color: white;
			}
		}
	}*/

	img {
		border-radius: 50%;
		background-color: $gas-color;
		width: 200px;
		height: 200px;
		-webkit-box-shadow: 0px 4px 0px 2px $light-green;
		-moz-box-shadow: 0px 4px 0px 2px $light-green;
		box-shadow: 0px 4px 0px 2px $light-green;
	}
	h4 {
		margin: em(30) 0 em(6);

		a {
			font-weight: 400;
			font-size: .93em;
			margin-left: 4px;
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $light-green;
			}
		}

		+ p {
			text-transform: uppercase;
			color: $medium4;
			font-size: em(12);
			letter-spacing: em(1);
			margin: 0 0 em(16);
			text-align: center;
			font-weight: 700;
		}
	}
	p {
		margin: em(4) 0;
		text-align: justify;
		line-height: 24px;

		&:last-child {
			margin-top: em(15);
		}
	}

}

/* MailChip
///////////////////////////*/

/*====================================================================

88888888888                                                       
88                                  ,d                            
88                                  88                            
88aaaaa   ,adPPYba,    ,adPPYba,  MM88MMM  ,adPPYba,  8b,dPPYba,  
88"""""  a8"     "8a  a8"     "8a   88    a8P_____88  88P'   "Y8  
88       8b       d8  8b       d8   88    8PP"""""""  88          
88       "8a,   ,a8"  "8a,   ,a8"   88,   "8b,   ,aa  88          
88        `"YbbdP"'    `"YbbdP"'    "Y888  `"Ybbd8"'  88         

====================================================================*/

footer {
	color: $medium4;
	background-color: $light;
	border-top: 2px solid $medium3; 
	padding: em(14) 0;

	img {
		-webkit-transition: opacity 0.3s ease;
		   -moz-transition: opacity 0.3s ease;
			-ms-transition: opacity 0.3s ease;
			 -o-transition: opacity 0.3s ease;
				transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.8;
		}
	}

}

.social {
	float: right;
	margin-top: 6px;

	.email {
		text-decoration: none;
		color: inherit;
		font-size: em(22);
		position: relative;
		top: -18px;
		left: -8px;
	}
	a {
		margin: 0 10px;
		font-weight: normal;

		&:last-of-type {
            margin-right: 20px;
        }
	}
	img {
		width: 50px;
	}
}

.partners img {
	width: 90px;
	margin-right: 20px;
}

